.main-head{
    width: 1920px;
    height: 1322px;
    left: 0px;
    top: 0px;
    background: rgba(255, 144, 14, 0.1);
    margin: ;
}
.logo{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;
    margin-left: 200px;
}
.navbar{
    display: flex;
    text-align:;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
    display: flex;
}
.nav-menu ul li a{
    text-decoration: none;
}